.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container div {
  text-align: center;
}

.container .winner {
  margin: 0.5rem 0;
}

.container p.link {
  color: blue;
  margin: 0;
  text-decoration: underline;
  cursor: pointer;
}
